---
import Layout from '../layouts/Layout.astro';

const title = "Стоимость услуг | Алеся Такун - психолог в Минске";
const description = "Цены на услуги психолога Алеси Такун. Индивидуальные консультации 120 BYN, психологические группы 100 BYN. Онлайн и очные встречи.";
---

<Layout title={title} description={description}>
	<h1>Стоимость</h1>
	<ul>
		<li>Индивидуальная консультация - 120 BYN</li>
		<li>Группа - 250 BYN</li>
		<li>Семинар - 250 BYN</li>
	</ul>
	<p>Оплатить можно на странице <a href="/payments">Оплата</a>.</p>
</Layout>

